<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/log-${cf_instance_index:-0}.log}"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
	<include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

	<springProfile name="!cloud">

		<logger name="de.dfki.nlp" level="INFO"/>
		<logger name="de.dfki.nlp.annotator" level="WARN"/>

		<root level="WARN">
			<appender-ref ref="FILE"/>
			<appender-ref ref="CONSOLE"/>
		</root>


	</springProfile>

	<springProfile name="driver">

		<appender name="QUEUE_STATS"
				  class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
			<file>driver.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>driver-consumer.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
				<maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
				<maxHistory>${LOG_FILE_MAX_HISTORY:-0}</maxHistory>
			</rollingPolicy>
		</appender>

		<logger name="de.dfki.nlp.SiaPubmedAnnotator" level="DEBUG">
			<appender-ref ref="QUEUE_STATS" />
		</logger>

	</springProfile>

</configuration>
